# 设备清单
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7986=y
CONFIG_TARGET_SUBTARGET="mt7986"
CONFIG_TARGET_DEVICE_mediatek_mt7986_DEVICE_xiaomi_redmi-router-ax6000=y
CONFIG_TARGET_DEVICE_mediatek_mt7986_DEVICE_xiaomi_redmi-router-ax6000-uboot=y
CONFIG_TARGET_mediatek_mt7986_DEVICE_xiaomi_redmi-router-ax6000=y

# 不包含进系统的包
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_luci-app-turboacc is not set
## 临时禁用，作者的源码这里有冲突
# CONFIG_PACKAGE_base-files is not set

# 必须包含进系统的包
## luci必须
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_usign=y
CONFIG_PACKAGE_base-files=y

# 主题设置
### CONFIG_PACKAGE_luci-theme-argon=y

## 软件包

CONFIG_DEFAULT_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_DEFAULT_luci-app-mtwifi=y
CONFIG_PACKAGE_luci-app-mtk=y
CONFIG_PACKAGE_luci-i18n-mtk-zh-cn=y
CONFIG_PACKAGE_datconf=y
CONFIG_PACKAGE_datconf-lua=y
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_wifi-profile=y
# CONFIG_PACKAGE_luci-app-adguardhome is not set
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_lucky=y
CONFIG_PACKAGE_cloudflared=y
CONFIG_PACKAGE_luci-app-alist=y
